<h1>Gestione Utenti</h1>

<% if @user %>
  <h2><%= @user.persisted? ? 'Modifica Utente' : 'Nuovo Utente' %></h2>
  <%= form_with(model: @user, url: @user.persisted? ? admin_update_user_path(@user) : admin_create_path, method: @user.persisted? ? :patch : :post) do |form| %>
    <div>
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email %>
    </div>
    <div>
      <%= form.label :password, 'Password' %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.label :role, 'Ruolo' %>
      <%= form.select :role, User::ROLES, include_blank: 'Seleziona un ruolo' %>
    </div>
    <div>
      <%= form.submit @user.persisted? ? 'Aggiorna' : 'Crea' %>
    </div>
  <% end %>
<% end %>

<h2>Elenco Utenti</h2>
<%= link_to 'Nuovo Utente', admin_new_user_path %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Ruolo</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Modifica', admin_edit_user_path(user) %> |
          <%= link_to 'Elimina', admin_delete_user_path(user), method: :delete, data: { confirm: 'Sei sicuro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>