<!DOCTYPE html>
<html>
<head>
  <title>Basso Legnami</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'sidebar', 'data-turbo-track': 'reload', defer: true %>
</head>
<body>
  <%= render 'shared/navbar' %> <!-- Sidebar -->
  <main>
    <%= yield %>
  </main>
  <%= render 'shared/footer' %> <!-- Footer per mobile -->
</body>
</html>
